.page {
    max-width: 1280px;
    height: 100vh;
    background-color: #000000;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-text-size-adjust: 100%;
    
}
