.profile {
    max-width: 880px;
    margin: 0 auto;
    padding-top: 36px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .profile {
       flex-direction: column;
       padding: 38px 19px 0 19px;
    }
}