.footer {
    max-width: 880px;
    margin: 0 auto;
    padding-top: 67px;
    padding-bottom: 60px;
    
}

@media screen and (max-width: 768px) {
    .footer{
      padding: 48px 19px 36px 19px;
    }
}