.elements__like-btn {
    background-image: url(../../../images/like-btn.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    
    
    
}



.elements__like-btn:hover {
    opacity: 0.5;
    
}

.elements__like-btn_active {
    background-image: url(../../../images/btn-like.svg);    
    background-size: cover;
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
    border: none;
    cursor: pointer;
    background-color: transparent;
 }